<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="appointment['budget']"></h2>
      
      
      
       <p>createdAt: <span ng-bind="appointment['createdAt']"></span></p> 
      
       <p>date: <span ng-bind="appointment['date']"></span></p> 
      
       <p>notes: <span ng-bind="appointment['notes']"></span></p> 
      
       <p>objectId: <span ng-bind="appointment['objectId']"></span></p> 
      
       <p>partner: <span ng-bind="appointment['partner']"></span></p> 
      
       <p>phone_number: <span ng-bind="appointment['phone_number']"></span></p> 
      
       <p>updatedAt: <span ng-bind="appointment['updatedAt']"></span></p> 
      
       <p>user: <span ng-bind="appointment['user']"></span></p> 
      


      <super-modal-show location="appointment#edit?id={{ appointment.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(appointment.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
