<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">body_shape_code</span>
    <input type="text" ng-model="size['body_shape_code']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">bust</span>
    <input type="text" ng-model="size['bust']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">chest</span>
    <input type="text" ng-model="size['chest']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="size['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">height</span>
    <input type="text" ng-model="size['height']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">hips</span>
    <input type="text" ng-model="size['hips']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">inseam</span>
    <input type="text" ng-model="size['inseam']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">neck</span>
    <input type="text" ng-model="size['neck']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="size['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">sleeve</span>
    <input type="text" ng-model="size['sleeve']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="size['updatedAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">user</span>
    <input type="text" ng-model="size['user']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">waist</span>
    <input type="text" ng-model="size['waist']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">weight</span>
    <input type="text" ng-model="size['weight']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
